@font-face {
    font-family: 'Berlin'; /*a name to be used later*/
    src: url('fonts/Berlin.ttf'); /*URL to font*/
}

body{
	font-family: "Lato", sans-serif;
	overflow: hidden;
}

#background{
	left: 0;
	top: 0;
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	height: 110%;
	width: 110%;
	background-size: auto 140%;
	background-attachment: fixed;
	background-position: center;
	opacity: 0.95;
	z-index: -5;

}

.loader {
    border: 16px solid #dfdfdf;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -40px;
	visibility: visible;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header{
	text-align: center;
	padding-top: 1em;
	color: white;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
	2px 2px 0 #000;  
	visibility: hidden;
	height: 15%;
}

.content{
	width: 95%;
	margin: 0 auto;
	margin-top: 2%;
}

.tabs{
	visibility: hidden;	
	width: 800px;
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	height: 83%;
	margin-top: -1em;
}

.tab-content{
	padding: 15px;
	border-radius: 3px;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
	background: rgb(255, 255, 255);
	border: solid 1px;
	text-align: left;
	/* margin-top: 6.9%; */
	margin-top: 0;
	width: 100%;
	max-height: 85%;
	position: relative;
	overflow: auto;
}

#tab1{
	height: auto;
	margin-top: 10px;
	margin-left: 15px;
}

#tab1 #welcome{
	text-align: center;
}

#tab1 p{
	font-family: "Garaomd", serif;
}	

#tab1 #mainFilip{
	float: right;
	clear: right;
	width: 200px;
	height: auto;
	border: solid black 3px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 140px;
}

#tab1 #imageRow{
	clear: right;
	float: right;
	margin-right: 13px;
	margin-top: 10px;
	border: solid black 1px;
	border-radius: 30px;
	background: #e5f4ff;
}

#tab1 .imageFilip{
	width: 40px;
	height: auto;
	border: solid black 1px;
	margin: 5px;
	border-radius: 140px;
	float: right;
	cursor: pointer;
}

#tab1 #tab1ImageContainer{
	float: right;
	/*border: solid black 1px;
	border-radius: 5px;*/
	padding: 3px;
	margin-top: 10px;
	/*margin: 3px;*/
}

#tab1 #aboutMe{
	padding-bottom: 1%;
}

#tab2 #videoBotson{
	display: block;
	margin: 0 auto;
	border: solid black 2px;
}

#tab2 .projectInfo{
	margin-left: 5%;
}

#tab2 .role{
	display: flex;
	font-size: 16px;
}

#tab2 .roleTitle{
	font-weight: bold;
	width: 15%;
}

#tab2 .roleInfo {
	width: 80%;
}

#tab3{
	margin-top: -10px;
	height: 502px;
}

#tab3 textarea{
	width: 40%;
	height: 350px;
	background-color:#e5f4ff;
	/*min-width: 40%;
	max-width: 99%;*/
	width: 99%;
	/*min-height: 200px;
	max-height: 350px;*/
	height: 280px;
	white-space: pre;
	font-size: 0.9em;
	margin-top: -15px;
	resize: none;
	display: block;
	border: solid black 1px;
	border-radius: 3px;
}

#tab3 h3{
	margin-left: 15px;
}

#tab3 .image{
	width: 130px;
	height: 130px;
	border: solid black 2px;
	border-radius: 3px;
	overflow: hidden;
	margin: 20px;
	cursor: zoom-in;
	float: left;
}

#tab3 #imageRocket{
	width: 400px;
	height: auto;
}

#tab3 #imageBlow{
	width: 400px;
	height: auto;
}

#tab4{
	height: auto;
}

#tab4 iframe{
	border: solid black 1px;
	border-radius: 3px;
	width: 100%;
	height: 65vh;
}

#tab5{
	margin-left: 20px;
	margin-top: -10px;
	height: auto;
}

#tab5 .content{
	margin-left: 1%;
}

#tab5 #infoTitle{
	width: 15%;
	margin-left: 5%;
}

#tab5 #info{
	width: 80%;
}

#tab5 #contactBody{
	display: flex;
}

#tab5 a:link{
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	color: #559ed1;
}

#tab5 a:visited{
	color: #559ed1;
}

#tab5 a:hover{
	color: #3d77a0;
}

#tab5 a:active{
	color: #7FB5DA;
}

.tab{
	height: 100%;
}

.tab-links{
	position: relative;
	margin-bottom: -56px;
	overflow: visible;
	height: 60px;
}

:focus {outline:none;}

.tab-links:after {
	display: block;
	clear: both;
	content: "";
}

.tab-links li {
	margin: 0px 5px;
	float: left;
	list-style: none;
	position: relative;
	overflow: visible;
	top: 4px;
}

.tab-links a{
	padding: 9px 15px;
	display: inline-block;
	border-radius: 3px 3px 0px 0px;
	background: #7FB5DA;
	font-size: 16px;
	font-weight: 600;
	color: #4c4c4c;
	transition: all linear 0.15s;
	text-decoration: none;
	border: solid 1px;
	border-bottom: solid 1px;
}

.tab-links a:hover{
	background: #a7cce5;
}

li.active a, li.active a:hover{
	background: #fff;
	color: #4c4c4c;
	border-bottom: solid 2px white;
	position: relative;
	z-index: 10;
	top: -3px;
}

.tab{
	display: none;
}

.tab.active{
	display:block;
}

.windowsLogo{
	height: 1em;
	width: auto;
}

.screenshot{
	display: block;
	margin: 0 auto;
	border: solid black 2px;
}

h1, h2, h3 {
	font-family: 'Berlin';
	letter-spacing: 0.05em;
}

h3 {
	font-size: 1.5em;
}

