@media screen and (max-width: 820px) and (orientation: landscape) {
	
	header{
		padding-top: 0;
		margin-top: -10px;
		margin-bottom: -30px;
		font-size: 12px;
	}

	.tabs{
		width: 90%;
		height: 68%;
	}

	#tab-links{
		font-size: 0.5em;
		padding: 1% 4%;
	}

	.tab-links a{
		padding: 5px 10px;
		font-size: 12px;
	}

	.tab-content{
		height: 100%;
		width: 94%;
		overflow: scroll;
	}

	#tab1{
		margin-top: -10px;
		height: 100%;
		margin-bottom: -50px;
	}

	#tab1 #mainFilip{
		width: 90%;
	}

	#tab1 .imageFilip{
		width: 19%;
		margin: 2%
	}	

	#tab1 #tab1ImageContainer{
		width: 35%;
	}

	#tab1 #aboutMe{
		height: 100%;
	}

	#tab2{
		overflow: hidden;
	}

	#tab2 .image{
		width: 60px;
		height: 60px;
		float: none;
	}

	#tab2 .imageContainer{
		width: 80%;
		height: auto;
	}

	#tab3{
		height: 100%;
	}

	#tab3 iframe{
		height: 100%;
	}

	#tab3 .content{
		height: 100%;
	}

}

@media screen and (max-width: 820px) and (orientation: portrait) {
	
	header{
		padding-top: 0;
		margin-top: -10px;
		margin-bottom: -30px;
		font-size: 12px;
	}

	.tabs{
		width: 90%;
		height: 85%;
	}

	#tab-links{
		font-size: 0.5em;
		padding: 1% 4%;
	}

	.tab-links a{
		padding: 5px 10px;
		font-size: 12px;
	}

	.tab-content{
		height: 100%;
		width: 94%;
		overflow: scroll;
	}

	#tab1{
		margin-top: -10px;
		height: 100%;
		margin-bottom: -50px;
	}

	#tab1 #mainFilip{
		width: 90%;
	}

	#tab1 .imageFilip{
		width: 19%;
		margin: 2%
	}	

	#tab1 #tab1ImageContainer{
		width: 35%;
	}

	#tab1 #aboutMe{
		height: 100%;
	}

	#tab2{
		overflow: hidden;
	}

	#tab2 .image{
		width: 60px;
		height: 60px;
		float: none;
	}

	#tab2 .imageContainer{
		width: 80%;
		height: auto;
	}

	#tab3{
		height: 100%;
	}

	#tab3 iframe{
		height: 100%;
	}

	#tab3 .content{
		height: 100%;
	}

		.tab-links{
		margin-left: -20px;
	}

	#tab2 #imageRocket{
		width: 300px;
	}

	#tab2 #imageBlow{
		width: 300px;
	}

}

@media screen and (max-width: 400px) and (orientation: portrait) {
	header{
		font-size: 10px;
	}

	.tab-links a{
		padding: 3px 5px;
		font-size: 9px;
	}

	.tabs{
		width:  80%;
		height: 80%;
	}

	.tab-links{
		margin-left: -30px;
	}

	#tab2 #imageRocket{
		width: 200px;
	}

	#tab2 #imageBlow{
		width: 200px;
	}

	#tab4 #contactBody{
		margin-left: -30px;
		font-size: 12px;
	}

}


