.experience {
	&_content {
		display: flex;
		flex-direction: column;

		margin-left: 5vw;
		margin-right: 5vw;

		&-left {
			margin-right: 15vw;

			.textContainer {
				transform-origin: top left;
			}
		}

		&-right {
			margin-left: 15vw;

			.textContainer {
				transform-origin: top right;
			}

			h4 {
				text-align: end;
			}
		}
	}
}

.experienceSection {
	display: flex;
	flex-direction: column;

	&_header {
		display: flex;
		justify-content: space-between;

		margin-bottom: 1em;

		font-family: BebasNeue-thin;
		letter-spacing: 0.1em;

		:first-child {
			margin-right: 2em;
		}
	}

	&_content {
		border-radius: 0.5em;
		padding: 0 1em;

		.textContainer {
			text-align: start;
	
			transform: scale(0);
			transition: transform 0.3s;
			transition-delay: 0.15s;

			&-visible {
				transform: scale(1);
			}
		}
	}

	&:not(:last-child) {
		margin-bottom: 3em;
	}
}


@media only screen and (max-width: 1000px) {
	.experience {
		&_content {
			margin-left: 5vw;
			margin-right: 5vw;

			&-right, h4 {
				text-align: start;
			}
		}
	}
}