.introduction {
	padding-left: 2em;
	padding-right: 2em;

	.content_header {
		margin-bottom: 2em;
	}

	&_content {
		display: flex;
		flex-direction: column;
	}
}

.introductionRow {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-mb {
		margin-bottom: 2em;
	}

	&-site {
		margin-bottom: 1em;

		h4 {
			margin: 0;
		}
	}

	&-list {
		justify-content: center;
		align-items: flex-start;
	}

	&_content {
		border-radius: 0.5em;
		padding: 0.5em;
		margin-right: 1em;

		.introductionText {
			text-align: start;
			margin-right: 2em;
			transition: transform 0.2s;
			transition-delay: 0.2s;
			transform: scaleX(0);
			transform-origin: left;
			margin-bottom: 1em;
			margin-left: 1em;

			&-visible {
				transform: scaleX(1);
			}
		}
	}

	&_picture {
		font-size: 0.8em;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;

		.pictureButton {
			display: inline-block;
			cursor: pointer;

			&-selected {
				text-decoration: underline;
			}
		}
	}
}

.profilePictureContainer {
	width: 200px;
	height: 200px;
	margin-bottom: 0.5em;
	perspective: 1000px;

	.profilePicture {
		position: relative;
		height: 100%;
		width: 100%;
		transition: transform 0.5s;
		transform-style: preserve-3d;

		&-flipped {
			transform: rotateY(180deg);
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 0.5em;
			border: var(--app-theme-border) solid 2px;
			position: absolute;
			transform: translateX(-50%);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		&_business {
			transform: translateX(-50%) rotateY(180deg) !important;
		}
	}
}

.siteInfo {
	display: inline-block;

	text-align: start;
	margin: 0 1em;

	border-radius: 0.5em;
	padding: 1em;

	white-space: nowrap;

	h3 {
		margin: 0;
		text-align: center;
	}

	ul {
		margin: 0.75em 0;
		padding: 0 1em;
		list-style: none;
	}

	li::before { 
		content: "";
		border-color: transparent #111;
		border-style: solid;
		border-width: 0.35em 0 0.35em 0.45em;
		display: block;
		height: 0;
		width: 0;
		left: -1em;
		top: 1em;
		position: relative;
	}
}

@media only screen and (max-width: 1000px) {
	.content {
		&_header {
			margin-bottom: 1em !important;
		}
	}

	.introductionText {
		margin-left: 0;
	}

	.introductionRow {
		flex-wrap: wrap;

		&-info, &-site {
			justify-content: center !important;
		}

		&-header {
			margin-bottom: 1em !important;
		}

		&_content {
			margin-bottom: 2em;
			background: var(--app-container-bg-down);
		}
	}

	.siteInfo {
		margin-left: 1vw !important;
		margin-right: 1vw !important;
		margin-bottom: 1em;
	}
}