.mainContent {
	margin-bottom: 20px;
	width: 100%;
	height: 100%;
	margin-top: 6em;

	display: flex;

	&_middle {
		flex-grow: 3;
		position: relative;
	}

	&_edge {
		flex-grow: 1;
	}
}

.contentContainer {
	transition: left 0.3s ease-in, right 0.3s ease-in, transform 0.3s, opacity 0.2s, visibility 0.4s;
	position: absolute;

	&-current {
		left: 0;
		right: 0;
		transform: scaleX(1);
		opacity: 1;
		visibility: visible;
	}

	&-left {
		transition: left 0.3s ease-out, right 0.3s ease-out, transform 0.3s, opacity 0.2s, visibility 0;
		left: -15vw;
		right: 15vw;
		transform: scaleX(0);
		transform-origin: left;
		opacity: 0;
		visibility: hidden;
	}

	&-right {
		transition: left 0.3s ease-out, right 0.3s ease-out, transform 0.3s, opacity 0.2s, visibility 0;
		left: 15vw;
		right: -15vw;
		transform: scaleX(0);
		transform-origin: right;
		opacity: 0;
		visibility: hidden;
	}

	&-wasLeft {
		transform-origin: left;
	}

	&-wasRight {
		transform-origin: right;
	}
}

.content {
	margin-bottom: 3em;

	&_header {
		padding: 0 1em;
		margin-left: 5em;
		font-family: BebasNeue;
		border-top: 0;
		border-bottom: 1px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
	}
}

.blinderEffect {
	transition: transform 0.2s;
	transform: scaleY(0);
	transform-origin: top;
	transition-delay: 0.3s;

	&-active {
		transform: scaleY(1);
	}
}

@media only screen and (max-width: 1000px) {
	.content {
		&_header {
			margin-left: 0;
		}
	}

	.mainContent {
		margin-top: 4em;

		&_edge {
			flex-grow: 0;
		}
	}

	.contentContainer {
		&-left {
			left: -00;
			right: 0;
		}
	
		&-right {
			left: 0;
			right: 0;
		}
	}
}