:root {
	--app-theme: rgba(255, 255, 255, 0.3);
	--app-theme-button: rgba(255, 255, 255, 0.13);
	--app-theme-button-hover: rgba(255, 255, 255, 0.27);
	--app-theme-border: rgba(255, 255, 255, 1);
}

body {
	overflow-y: scroll;
}

.App {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.85);
}

.italic {
	font-style: italic;
}

a {
	color: black;
}

h4 {
	font-family: BebasNeue-thin;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-align: start;
	font-weight: normal;
	margin: 1em 0;
}

.leftFlex {
	display: flex;

	h1 {
		display: inline-block;
	}
}

@media only screen and (max-width: 1000px) {
	.leftFlex {
		justify-content: center;
	}
}